/*---------------Settings---------------*/
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@400;700&family=Rubik:wght@300..900&display=swap");
/* vars */
:root {
  --bg-color: grey;
  --placeholder-color: rgb(153, 153, 153);
  --text-color: #000;
  --accent-color: #000;
  --form-color: #fff;
  --error-color: #ff0202;
  --font: "Roboto", sans-serif;
}
/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-size: 10px;
  font-family: var(--font);
  background: var(--bg-color);
  padding: 30px 15px;
}
/*---------------/Settings---------------*/
.form {
  align-items: center;
  background: var(--form-color);
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;  
  width: 40%;
  margin: 0 auto; 
  padding: 1.5rem;
  position: relative;
}
.form__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
/*---------------Titles---------------*/
.form__main-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.form__title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
/*---------------/Titles---------------*/
.form__box-label {
  margin-bottom: 1rem;
}
.form__box-label::first-letter {
  text-transform: uppercase;
}
.form__row {
  width: 100%;
}
/*---------------Form-field---------------*/
.form__field {
  padding: 0 1.5rem;
  min-height: 4rem;
  border: none;
  outline: 1px solid var(--accent-color);
  border-radius: 3px;
  overflow: hidden;
}
.form__field::placeholder {
  font-size: 1.5rem;
}
.form__field:focus {
  outline: 1px solid blue;
}
.form__field[type="date"] {
  color: grey;
  font-size: 1.5rem;
}
.form__box-wrap {
  display: flex;
  flex-direction: column;
}
.form__field-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.form__field-wrap .form__box {
  flex-grow: 1;
}
/*---------------/Form-field---------------*/

/*---------------Buttons---------------*/
.form__buttons {
  display: flex;
  gap: 1rem;
  align-self: flex-start;
}
.form__button {
  border: none;
  border-radius: 3px;
  cursor: pointer;  
  outline: 1px solid;  
  padding: 1rem 2rem;
  font-weight: bold;
}
.form__button:first-child {
  background: var(--accent-color);
  color: var(--form-color);
}
.form__button:last-child {
  background: #fff;
}
.form__exit-button {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
/*---------------/Buttons---------------*/

/*---------------Errors---------------*/
.error .form__field {
  outline: 1px solid red;
}
.error-label {
  display: block;
  padding-top: 1rem;
  color: var(--error-color);
}
/*---------------/Errors---------------*/

.form.active {
  display: flex;
}
@media (max-width: 992px) {
  .form {
    width: 100%;
  }
  .form__col {
    align-self: self-start;
  }

  .form__buttons {
    display: flex;
    flex-wrap: nowrap;
  }
  .form__title {
    font-size: 1.8rem;
  }
  .form__field-wrap {
    gap: 1rem;
  }
  html {
    font-size: 8px;
  }
}
